body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 20px;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.content {
    margin-left: 200px;
    padding: 0px;
    height: 100vh;
}

iframe {
    width: 100%;
    height: calc(100vh - 40px);
}
